commands:
  01_set_permissions:
    command: |
      chown -R webapp:webapp /var/app/current
      chmod -R 755 /var/app/current
      chmod 755 /var/app/current
    cwd: /var/app/current

files:
  /etc/httpd/conf.d/allow_htaccess.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      <Directory "/var/app/current">
          AllowOverride All
          Require all granted
      </Directory>

container_commands:
  01_restart_apache:
    command: "sudo service httpd restart"
