commands:
  01_fix_symlink:
    command: |
      rm -rf /var/www/html
      cp -r /var/app/current /var/www/html
      chown -R apache:apache /var/www/html
      chmod -R 755 /var/www/html
      chmod 644 /var/www/html/index.php
      chmod 644 /var/www/html/index.html
      chmod 644 /var/www/html/.htaccess

  02_disable_selinux:
    command: |
      setenforce 0 || true
      sed -i 's/SELINUX=enforcing/SELINUX=disabled/g' /etc/selinux/config || true

container_commands:
  01_restart_apache:
    command: "sudo systemctl restart httpd"
