commands:
  01_set_permissions:
    command: |
      chown -R apache:apache /var/app/current
      chmod -R 755 /var/app/current
      chmod 644 /var/app/current/index.php
      chmod 644 /var/app/current/index.html
      chmod 644 /var/app/current/.htaccess

container_commands:
  01_restart_httpd:
    command: "sudo systemctl restart httpd"
